@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #F7F5F2;
  --greyl: #577A7D;
  --green-aqua: #37666B;
  --green-forest: #0C484B;
  --salmon: #E1A66F;
}
/* 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


