.header {
    background-color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid  #d11111;
    padding-inline: 10px;
}

.section {
    display: flex; 
    align-items: center; 
}

.nav {
    display: flex; 
}


